body {
    background: #101020;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
}